<div
  class="navbartop-0 right-0 left-0 flex justify-between items-center backdrop-blur-2xl z-50"
>
  <a class="btn btn-ghost ml-2 flex items-center" href="/">
    <div class="avatar">
      <div class="w-10 rounded-full">
        <img
          alt="Tailwind CSS Navbar component"
          src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
        />
      </div>
    </div>
    <div class="flex flex-col">
      <h2 class="text-sm">Matias Gerardi</h2>
      <p class="text-xs">Software Developer</p>
    </div>
  </a>

  <div class="">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/#personal-info">Personal Info</a></li>
      <li><a href="/#projects">Projects</a></li>
      <li><a href="/#skills">Skills</a></li>
      <li><a href="/#contact">Contact</a></li>
    </ul>
  </div>
</div>
