---
import Grid from './Grid.astro';
---

<div>
	<main class="px-10 py-20 flex flex-col items-center  min-h-screen">
		<h1 class="text-4xl font-bold text-white mb-4">Welcome to Portfolio!</h1>
		<p class="text-lg text-gray-300">
			My name is Matias, I am a Full Stack Developer passionate about creating web applications that are both functional and visually appealing. Explore my portfolio to see some of the projects I've worked on!
		</p>
		<Grid />
	</main>
</div>